<div class="container">
  <h1 class="mb-4">Listado de usuarios</h1>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let user of users">
      <div class="card h-100 shadow-sm">
        <img [src]="user.image" class="card-img-top" [alt]="user.first_name">

        <div class="card-body">
          <h5 class="card-title">
            {{ user.first_name }} {{ user.last_name }}
          </h5>
          <p class="card-text">{{ user.email }}</p>
        </div>

        <div class="card-footer d-flex justify-content-between">
          <a class="btn btn-primary btn-sm" [routerLink]="['/user', user.id]">
            Ver
          </a>

          <a class="btn btn-warning btn-sm" [routerLink]="['/updateuser', user.id]">
            Editar
          </a>

          <button
            class="btn btn-danger btn-sm"
            (click)="onDelete(user.id, user.first_name)"
          >
            Borrar
          </button>
        </div>
      </div>
    </div>
  </div>

  <a class="btn btn-success mt-3" routerLink="/newuser">
    + Nuevo usuario
  </a>
</div>